Source: debian-package1
Priority: optional
Maintainer: Hamza Gad <info@primasoft-eg.com>
Rules-Requires-Root: no
Version: 1.0
Homepage: https://github.com/hamzagad/debian-package1
Vcs-Browser: https://github.com/hamzagad/debian-package1
Vcs-Git: https://github.com/hamzagad/debian-package1.git
Package: debian-package
Architecture: all
Depends: mariadb-server
Description: This is a test dep from github
